{{> header}}

<h1>Smeagol</h1>

{{> welcome}}

<h2>Branches</h2>

<div class="list-group">
    {{#wikis}}
    <a class="list-group-item" href="{{request.contextPath}}{{request.servletPath}}/{{urlEncodedName}}">
        <h4>{{displayName}}</h4> 
        {{#description}}
        <p class="list-group-item-text">{{description}}</p>
        {{/description}}
    </a>
    {{/wikis}}
</div>

<div>
    <a class="btn btn-default" href="{{request.contextPath}}">
        Zurück zur Repositoryübersicht
    </a>
</div>

{{> footer}}