<div class="alert alert-info">
    <p>Willkommen bei Smeagol, dem Dokumentations-Wiki für Repositorys.</p>
    <p>Unten sehen Sie eine Liste aller Git-Repositorys auf Ihrem Repository-Server, zu denen Sie Zugriff haben.
        Wenn Sie eine Dokumentation für ein Repository schreiben wollen, müssen Sie nur eine <em>.smeagol.yml</em>-Datei
        zu dem Hauptverzeichnis des Repositorys hinzufügen. Anschließend können Sie das Wiki nutzen.
        Sobald Sie Änderungen in ein Wiki einfügen und speichern, schiebt Smeagol diese in das Repository. Auf diesem Weg
        ist die Dokumentation immer auf dem neusten Stand und dort, wo sie hingehört - nahe am Code!
</div>