@import "src/main/webapp/ces-theme/dist/css/ces";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/smeagol/_static/ces-theme/dist/fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("/smeagol/_static/ces-theme/dist/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/smeagol/_static/ces-theme/dist/fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), url("/smeagol/_static/ces-theme/dist/fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("/smeagol/_static/ces-theme/dist/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

body {
  padding-top: 60px;
}

input[type="checkbox"] {
  margin: 14px 0 0;
}

div#results {
  @extend .container;
}

.tree {
  display: block;
  float: left;
  clear: left;
  margin-right: 3%;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 100%;

  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.tree li {
  padding: 30px;
  font-size: 15px;
  line-height: 1.7;
  overflow: hidden;
  word-wrap: break-word;
}

@media (min-width: 940px) {
  .tree li {
    padding: 30px;
  }
}

li.file {
    padding: 0 !important;
}

li input:checked + ol > li {
  display: block !important;
  margin: 0 0 0.125em;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

ol {
  margin-top: -20px;
}
li input + ol > li {
  display: none !important;
}

li {
  position: relative;
  list-style: none;
}

li input {
  position: absolute;
  left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 1em;
  width: 1em;
}

li input:checked + ol:before {
  @extend .glyphicon, .glyphicon-chevron-down;
  color: #00426B;
  margin: 6px 0 0 -44px;
  height: auto;
  left: -25px;
  top: -5px;
}

li input + ol:before{
  @extend .glyphicon, .glyphicon-chevron-right;
  color: #00426B;
  margin: 6px 0 0 -44px;
  height: 1.5em;
  left: -25px;
  top: -5px;
}

li label {
  margin-bottom: 0;
  @extend h4;
}
li label:before {
  @extend .glyphicon;
  content: "\e118\2003";
}

li.file form button {
  border: 0px;
  background: none;
  padding-left: 10px;
  @extend .glyphicon;
}

// delete button (li.file form button:before) is not displayed since the link does not work
// delete link is set in target/rubygems/gollum-lib-4.2.7-java/lib/gollum-lib/file_view.rb

/*li.file form button:before {
  color: #00426B;
  @extend .glyphicon-trash;
}*/

li.file form {
  vertical-align: middle;
  display: inline-block;
}

li.file a {
  display: inline-block;
}