/* There is a bug in the Markdown editor (tui-editor). The preview window of the Markdown text is only displayed
   extremely narrowly. The most recent library of the tui-editor (version 1.40.10) does not yet fix this error.
   The bug can be fixed by overwriting the css settings listed in the file.
   For further details see: https://github.com/nhn/tui.editor/issues/923
 */
.tui-editor .te-md-splitter
{ display: none;
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 100%
  !important; border-left: 1px solid #e5e5e5;
}
