<div id="wiki-wrapper" class="edit">
<div id="head">
  <h1>Bearbeite <strong>{{title}}</strong></h1>
  <ul class="actions">
    <li class="minibutton"><a href="{{base_url}}/{{escaped_url_path}}"
       class="action-view-page">Seite anzeigen</a></li>
     <li class="minibutton"><a href="{{base_url}}/history/{{escaped_url_path}}"
       class="action-page-history">Versionsübersicht</a></li>
  </ul>
</div>
  <div id="wiki-content">{{>editor}}</div>
</div>
