<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">

  <link rel="stylesheet" type="text/css" href="/smeagol/_static/gollumTheme/file_view.css" media="all">

  {{#js}}<script type="text/javascript" src="{{base_url}}/custom.js"></script>{{/js}}
  <title>{{title}}</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="img-responsive" alt="Cloudogu" src="/smeagol/_static/ces-theme/dist/images/logo/blib-white-30px.png">
            </a>
            <a class="navbar-brand" href="/smeagol">
                Smeagol
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{base_url}}/">
                        Startseite
                    </a>
                </li>
                <li>
                    <a href="/smeagol/logout">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{{#has_results}}
  <div id="results">
  {{{results}}}
  </div>
{{/has_results}}

{{#no_results}}
  <p id="no-results">
    Es sind keine Seiten in <strong>{{ref}}</strong> vorhanden.
  </p>
{{/no_results}}
</body>
</html>
