<div id="wiki-wrapper" class="history">
<div id="head">
  <h1>Versionsübersicht für <strong>{{title}}</strong></h1>
  <ul class="actions">
    <li class="minibutton">
      {{>searchbar}}
    </li>
    <li class="minibutton"><a href="{{base_url}}/{{escaped_url_path}}"
       class="btn btn-primary btn-sm">Seite anzeigen</a></li>
    {{#allow_editing}}
      <li class="minibutton"><a href="{{base_url}}/edit/{{escaped_url_path}}"
         class="btn btn-primary btn-sm">Seite bearbeiten</a></li>
    {{/allow_editing}}
  </ul>
</div>
<div id="wiki-history">

  <ul class="actions">
    <li class="minibutton"><a href="javascript:void(0);"
       class="btn btn-primary btn-sm">Vergleiche Versionen</a></li>
  </ul>

  <form name="compare-versions" id="version-form" method="post"
   action="{{base_url}}/compare/{{escaped_url_path}}">
  <fieldset>
  <table>
    <tbody>

      {{#versions}}
      <tr>
        <td class="checkbox">
          <input type="checkbox" name="versions[]" value="{{id}}">
        </td>
        <td class="author">
            {{>author_template}}
        </td>
        <td class="commit-name">
          <span class="time-elapsed" title="{{date_full}}">{{date}}:</span>&nbsp;
          {{message}}
          [<a href="{{base_url}}/{{escaped_url_path}}/{{id}}" title="Commit anschauen">{{id7}}</a>]
        </td>
      </tr>
      {{/versions}}

    </tbody>
  </table>
  </fieldset>
  </form>
</div>
<div id="footer">
  <ul class="actions">
    <li class="minibutton"><a href="javascript:void(0);"
       class="btn btn-primary btn-sm">Vergleiche Versionen</a></li>

    <!-- only show this button if we have more than 20 revisions -->
    <li class="minibutton"><a href="#"
       class="btn btn-primary btn-sm">Zum Anfang der Seite</a></li>
  </ul>
</div>
</div>
