<div id="searchbar">
  <form action="{{base_url}}/search" method="get" id="search-form">
  <div id="searchbar-fauxtext">
    <input type="text" name="q" id="search-query" value="Suchen&hellip;" autocomplete="off">
    <a href="#" id="search-submit" title="Dieses Wiki durchsuchen">
      <span>Suche</span>
    </a>
  </div>
  </form>
</div>
