@charset "UTF-8";

body {
    padding-top: 60px;
}



#wiki-wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px; }

@media (min-width: 768px) {
    #wiki-wrapper {
        width: 750px; } }
@media (min-width: 992px) {
    #wiki-wrapper {
        width: 970px; } }
@media (min-width: 1200px) {
    #wiki-wrapper {
        width: 1170px; } }


.minibutton {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    padding-left: 0;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.minibutton:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

.minibutton {
    color: #23A3DD;
    font-weight: normal;
    border-radius: 0; }
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent; }
.btn-link:hover, .btn-link:focus {
    color: #18729b;
    text-decoration: underline;
    background-color: transparent; }
.btn-link[disabled]:hover, .btn-link[disabled]:focus,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus {
    color: #777777;
    text-decoration: none; }

.actions {
    padding-left: 0;
}



@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("/smeagol/_static/ces-theme/dist/fonts/bootstrap/glyphicons-halflings-regular.eot");
    src: url("/smeagol/_static/ces-theme/dist/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/smeagol/_static/ces-theme/dist/fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), url("/smeagol/_static/ces-theme/dist/fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("/smeagol/_static/ces-theme/dist/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

#search-submit span {
    display: none;
}

#search-submit{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#search-submit:after {
    content: "\e003";
}


li a.folder:before, li a.file:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

li a.folder:before {
    content: "\e118\2003";
}

li a.file:before {
    content: "\e022\2003";
}

#pages ul {
    list-style: none;
}

.page #footer {
    clear: both;
    border-top: 1px solid #ddd;
    margin: 1em 0 7em;
}

#footer p#last-edit {
    font-size: .9em;
    line-height: 1.6em;
    color: #999;
    margin: 0.9em 0;
}


#head {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.3em;
    margin: 4em 0 1.5em;
    margin-bottom: 0;
}

#wiki-body {
    display: block;
    float: left;
    clear: left;
    margin-right: 3%;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 100%;
}

@media (min-width: 940px) {
    .markdown-body {
        padding: 30px;
    }
}

.markdown-body {
        padding: 1em;
        font-size: 15px;
        line-height: 1.7;
        overflow: hidden;
        word-wrap: break-word;
}

@media (min-width: 940px) {
    #wiki-history table tr td.checkbox {
        width: 4em;
        padding: 0.3em;
    }
}
#wiki-history table tr td.checkbox {
        width: auto;
        padding: 0 0.2em 0 0;
}

#wiki-history table tr td.checkbox input {
    cursor: pointer;
    display: block;
    padding-right: 0;
    padding-top: 0.4em;
    margin: 0 auto;
    width: 1.2em;
    height: 1.2em;
}

#wiki-history table tr td.author {
    width: 20%;
}

#wiki-history table tr td.author a span.username {
    display: block;
    padding-top: 3px;
}

#wiki-history table tr td.author a {
    color: #000;
    font-weight: bold;
}

#wiki-history table tr td.commit-name {
    border-left: 0;
}

#wiki-history table tr td.commit-name span.time-elapsed {
    color: #999;
}

#wiki-history table tr td.commit-name a {
    font-size: 0.9em;
    font-family: 'Monaco', 'Andale Mono', Consolas, 'Courier New', monospace;
    padding: 0 0.2em;
}

@media (min-width: 940px) {
    #wiki-history table tr td {
        border: 1px solid #c0dce9;
        font-size: 1em;
        line-height: 1.6em;
        margin: 0;
        padding: 0.3em 0.7em;
    }
}

#wiki-history table tr td {
        border-top: 1px solid #c0dce9;
        border-bottom: 1px solid #c0dce9;
        font-size: 1em;
        line-height: 1.6em;
        margin: 0;
        padding: 0.3em 0.7em;
}

#wiki-history table, #wiki-history tbody {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 100%;
}

#wiki-history table tr {
    background-color: #ebf2f6;
}

#wiki-history table tr {
    padding: 0;
    margin: 0;
}

#wiki-history table tr:nth-child(2n), #wiki-history table tr.alt-row {
    background-color: #f3f7fa;
}